70-515/WCFService/NorthwindClient/Service References/NwServices/ShipperService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49198/ShipperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetShippers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetShippersResult" nillable="true" type="q1:ArrayOfShipper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipperId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetShipperResult" nillable="true" type="q2:Shipper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShipper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="shipper" nillable="true" type="q3:Shipper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShipperResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>