70-515/PubsClient/Web References/PubsService/Authors.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rstarigan.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://rstarigan.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rstarigan.com/">
      <s:element name="GetAuthorTitles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorTitlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorTitlesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorResult" type="tns:Author" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Author">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AuthorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Contract" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="author" type="tns:Author" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAuthorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAuthorTitlesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthorTitles" />
  </wsdl:message>
  <wsdl:message name="GetAuthorTitlesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthor" />
  </wsdl:message>
  <wsdl:message name="GetAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAuthor" />
  </wsdl:message>
  <wsdl:message name="UpdateAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAuthorResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthorsSoap">
    <wsdl:operation name="GetAuthorTitles">
      <wsdl:input message="tns:GetAuthorTitlesSoapIn" />
      <wsdl:output message="tns:GetAuthorTitlesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthor">
      <wsdl:input message="tns:GetAuthorSoapIn" />
      <wsdl:output message="tns:GetAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <wsdl:input message="tns:UpdateAuthorSoapIn" />
      <wsdl:output message="tns:UpdateAuthorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthorsSoap" type="tns:AuthorsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthorTitles">
      <soap:operation soapAction="http://rstarigan.com/GetAuthorTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthor">
      <soap:operation soapAction="http://rstarigan.com/GetAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <soap:operation soapAction="http://rstarigan.com/UpdateAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthorsSoap12" type="tns:AuthorsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthorTitles">
      <soap12:operation soapAction="http://rstarigan.com/GetAuthorTitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthor">
      <soap12:operation soapAction="http://rstarigan.com/GetAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <soap12:operation soapAction="http://rstarigan.com/UpdateAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authors">
    <wsdl:port name="AuthorsSoap" binding="tns:AuthorsSoap">
      <soap:address location="http://localhost:49169/Authors.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthorsSoap12" binding="tns:AuthorsSoap12">
      <soap12:address location="http://localhost:49169/Authors.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>